a {
  color: #555;
}
.containers {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
}
.containers .page_l {
  position: relative;
  float: left;
  margin-right: -280px;
  width: 280px;
  background: #fff;
}
.containers .page_l ul li {
  height: 50px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
}
.containers .page_l ul li a {
  display: block;
  padding: 0 20px;
  transition: all .15s linear 0s;
}
.containers .page_r {
  position: relative;
  float: right;
  width: 100%;
  max-width: 900px;
  background: #fff;
}
.containers .page_r h1 {
  font-weight: 400;
  padding: 0 20px;
  height: 75px;
  line-height: 75px;
  border-bottom: 1px solid #e5e5e5;
  color: #555;
  font-size: 20px;
}
.containers .page_r .page_con {
  padding: 30px;
  font-size: 14px;
  line-height: 30px;
}
.containers .page_r .page_con p {
  font-size: 16px;
}
.containers .page_r .page_con p img {
  float: left;
  margin-right: 20px;
  width: 300px;
  height: 350px;
}
