a {
  color: #555;
}
input {
  outline: none;
}
.containers {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
}
.containers .page_l {
  position: relative;
  float: left;
  margin-right: -280px;
  width: 280px;
  background: #fff;
}
.containers .page_l ul li {
  height: 50px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
}
.containers .page_l ul li a {
  display: block;
  padding: 0 20px;
  transition: all .15s linear 0s;
}
.containers .page_r {
  position: relative;
  float: right;
  width: 100%;
  max-width: 900px;
  background: #fff;
}
.containers .page_r h1 {
  font-weight: 400;
  padding: 0 20px;
  height: 75px;
  line-height: 75px;
  border-bottom: 1px solid #e5e5e5;
  color: #555;
  font-size: 20px;
}
.containers .page_r .page_con {
  padding: 30px;
  font-size: 14px;
  line-height: 1.8;
}
.containers .page_r .page_con form {
  width: 100%;
  margin: 0 auto;
  max-width: 500px;
}
.containers .page_r .page_con form p {
  line-height: 80px;
  text-align: right;
}
.containers .page_r .page_con form p input {
  width: 400px;
  height: 30px;
}
.containers .page_r .page_con form p #btn {
  width: 100px;
  height: 30px;
  margin-right: 200px;
}
.containers .page_r .page_con .zhuyi {
  max-width: 620px;
  margin: 0 auto;
}
.containers .page_r .page_con .zhuyi ul li {
  line-height: 20px;
}
.containers .page_r .page_con .zhuyi ul li span {
  font-size: 15px;
  color: #F78585;
}
.containers .page_r .page_con .zhuyi ul li a {
  line-height: 40px;
  padding-left: 20px;
  font-size: 15px;
  color: #555;
}
