* {
  margin: 0;
  padding: 0;
}
body {
  background: #f1f1f1;
  color: #555;
  font-size: 12px;
}
input,
button {
  outline: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
h1,
h2,
h3 {
  line-height: 25px;
}
ul,
li {
  list-style: none;
}
p {
  margin: 0 0 10px;
}
.header {
  width: 100%;
  background-color: #000;
  height: 45px;
  line-height: 45px;
}
.header .logo {
  float: left;
  width: 200px;
}
.header .logo img {
  vertical-align: middle;
  width: 35px;
  height: 35px;
}
.header .nav {
  float: left;
}
.header .nav .list .menu_list {
  display: inline-block;
  position: relative;
}
.header .nav .list .menu_list a {
  display: block;
  padding: 0 30px;
  color: #fff;
  font-size: 15px;
}
.header .nav .list .menu_list .select {
  width: 100%;
  max-width: 100px;
  font-size: 12px;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  z-index: 9999;
  background: #000;
}
.header .nav .list .menu_list .select li {
  display: block;
  text-align: center;
  padding: 5px 20px 4px;
  color: #eee;
  border-top: 1px solid #555;
}
.header .nav .list .menu_list .select li:hover {
  background: #5EAC5E;
}
.header .menu_right {
  float: right;
  margin-top: 7px;
  width: 240px;
}
.header .menu_right input {
  margin-right: -35px;
  margin-left: -35px;
  width: 195px;
  float: left;
  border: 1px solid #ccc;
  border-radius: 30px;
  color: #bbb;
  height: 30px;
  text-indent: 1em;
  color: #000;
}
.header .menu_right button {
  border: none;
  width: 14px;
  height: 26px;
  background: url(http://www.zbboke.com/templets/boke/images/searchbtn.png) no-repeat 0 6px;
}
.main {
  max-width: 1200px;
  margin: 0 auto;
}
.main #carousel {
  width: 100%;
}
.main #carousel .swiper-container {
  width: 100%;
}
.main #carousel .swiper-container .swiper-lazy {
  width: 100%;
  height: auto;
}
.main .content_wrap {
  margin-top: 20px;
  width: 100%;
}
.main .content_wrap h2 {
  position: relative;
  margin: 0;
  padding: 6px 20px;
  height: 20px;
  border-radius: 5px 5px 0 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  background: #F7F7F7;
  overflow: hidden;
}
.main .content_wrap .con_l {
  float: left;
  width: 70%;
}
.main .content_wrap .con_l .sticky {
  overflow: hidden;
}
.main .content_wrap .con_l .sticky ul .item {
  float: left;
  margin-bottom: 1px ;
  width: 50%;
  box-sizing: border-box;
  height: 108px;
  background: #fafff8;
  border-right: 1px solid #f1f1f1;
}
.main .content_wrap .con_l .sticky ul .item a {
  background: #fafff8;
  display: block;
  margin-right: 1px;
  padding: 5px 20px 2px 140px;
}
.main .content_wrap .con_l .sticky ul .item a img {
  float: left;
  margin: 8px 0 0 -120px;
  width: 110px;
  height: 80px;
}
.main .content_wrap .con_l .sticky ul .item a h3 {
  overflow: hidden;
  margin: 10px 0 0 0;
  height: 25px;
  font-weight: bolder;
  font-size: 14px;
}
.main .content_wrap .con_l .sticky ul .item a p {
  display: -webkit-box;
  color: #999;
  overflow: hidden;
  white-space: normal;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.main .content_wrap .con_l .excerpt {
  position: relative;
  margin-bottom: 1px;
  padding: 20px 20px 20px 256px;
  border-left: solid 4px #fff;
  background-color: #fff;
  overflow: hidden;
}
.main .content_wrap .con_l .excerpt .focus {
  position: relative;
  float: left;
  margin-top: 0;
  margin-left: -240px;
  width: 220px;
  text-align: center;
}
.main .content_wrap .con_l .excerpt .focus img {
  width: 220px;
}
.main .content_wrap .con_l .excerpt h2 {
  margin: 5px 40px 5px 0;
  background: none;
  font-size: 18px;
  color: #555;
  font-weight: 700;
  padding-left: 0;
}
.main .content_wrap .con_l .excerpt p {
  overflow: hidden;
  display: -webkit-box;
  white-space: normal;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 15px;
}
.main .content_wrap .con_l .excerpt p span {
  margin-right: 20px;
}
.main .content_wrap .aside {
  margin-left: 10px;
  width: 28%;
  position: relative;
  float: right;
}
.main .content_wrap .aside h3 {
  border-radius: 5px 5px 0 0;
  position: relative;
  margin: 0;
  padding: 11px 15px 14px;
  border-bottom: 1px solid #eaeaea;
  background-color: #fbfbfb;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}
.main .content_wrap .aside .widget {
  clear: both;
  margin-bottom: 10px;
  border-radius: 5PX;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.main .content_wrap .aside .widget .tag_list ul {
  padding: 20px;
}
.main .content_wrap .aside .widget .tag_list ul li {
  display: inline-block;
  padding: 4px 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  color: #666;
  font-size: 12px;
  transition: all .3s ease 0s;
  margin-right: 8px;
  margin-bottom: 15px;
}
.main .content_wrap .aside .widget .tag_list ul li a {
  color: #555;
}
.main .content_wrap .aside .post_list ul {
  padding: 20px;
}
.main .content_wrap .aside .post_list ul li {
  line-height: 20px;
  overflow: hidden;
}
.main .content_wrap .aside .post_list ul li a {
  position: relative;
  display: block;
  overflow: hidden;
  margin-left: -3px;
  padding: 10px 15px 10px 0;
  border-bottom: solid 1px #eee;
  border-left: 3px solid transparent;
  font-size: 14px;
}
.main .content_wrap .aside .post_list ul li a span {
  color: #999;
}
.main .content_wrap .aside .post_list ul li a .thumbnail {
  float: left;
  width: 80px;
  height: 55px;
  margin-right: 10px;
}
.main .content_wrap .aside .post_list ul li a .text_b {
  display: block;
  margin-top: -4px;
  color: #555;
}
.main .content_wrap .aside .post_list ul li a .time_b {
  margin-right: 30px;
}
.footer {
  position: relative;
  bottom: 0px;
  z-index: 1;
  clear: both;
  width: 100%;
  background: #414141;
  color: #ddd;
  text-shadow: 0 -1px 0 #333;
}
.footer a {
  color: #aaa;
}
.footer .footer_inner {
  margin: 0 auto;
  padding: 16px 0 14px;
  width: 100%;
  max-width: 1200px;
  border-left: 0 solid #428bca;
  background-color: #414141;
  color: #aaa;
  text-shadow: 0 -1px 0 #333;
}
.footer .footer_inner .ft_l {
  float: left;
}
.footer .footer_inner .ft_r {
  float: right;
}
