a {
  color: #555;
}
.conts {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  text-align: left;
}
.conts .cons_l {
  width: 855px;
  float: left;
}
.conts .cons_l .tited {
  margin-bottom: 1px;
  padding: 5px 20px;
  border-radius: 5px 5px 0 0;
  background-color: #F7F7F7;
  font-size: 12px;
  overflow: hidden;
}
.conts .cons_l .tited h1 {
  float: left;
  width: 600px;
  font-size: 20px;
}
.conts .cons_l .tited p {
  float: right;
  margin: 0px;
  line-height: 40px;
}
.conts .cons_l .liu p {
  float: left;
  line-height: 80px;
  font-size: 20px;
}
.conts .cons_l .liu p input {
  width: 200px;
  height: 30px;
  text-indent: 2em;
  border-radius: 12px;
}
.conts .cons_l .liu ul {
  float: left;
}
.conts .cons_l .liu ul li {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-left: 20px;
  opacity: 0.4;
}
.conts .cons_l .liu ul li img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
.conts .cons_l .liu ul .active {
  opacity: 1;
}
.conts .cons_l .dianji {
  overflow: hidden;
}
.conts .cons_l .dianji .syyx {
  float: right;
  width: 102px;
  height: 30px;
  margin-right: 20px;
  background: url(https://changyan.itc.cn/mdevp/extensions/cy-skin/028/skin-red/images/post-btn.png);
}
.conts .cons_l .dis h3 {
  font-size: 15px;
  border-bottom: 1px solid #000;
  background: #FFF;
  padding: 6px 0;
}
.conts .cons_l .dis .liu_list li {
  box-sizing: border-box;
  width: 100%;
  padding: 20px 40px;
  overflow: hidden;
  background: #FFF;
  border-bottom: 1px solid #ef0;
}
.conts .cons_l .dis .liu_list li img {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}
.conts .cons_l .dis .liu_list li dl {
  float: left;
  line-height: 30px;
}
.conts .cons_r {
  width: 300px;
  float: left;
  margin-bottom: 1px;
  padding: 5px 20px;
  border-radius: 5px 5px 0 0;
  background-color: #F7F7F7;
  font-size: 12px;
}
.conts .cons_r .widget {
  clear: both;
  margin-bottom: 10px;
  border-radius: 5PX;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.conts .cons_r .widget h3 {
  border-radius: 5px 5px 0 0;
  position: relative;
  margin: 0;
  padding: 11px 15px 14px;
  border-bottom: 1px solid #eaeaea;
  background-color: #fbfbfb;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}
.conts .cons_r .widget .w_ul li {
  position: relative;
  display: block;
  overflow: hidden;
  margin-left: -3px;
  padding: 10px 15px 10px 10px;
  border-bottom: solid 1px #eee;
  border-left: 3px solid transparent;
  font-size: 14px;
}
.conts .cons_r .widget .w_ul li img {
  float: left;
  width: 80px;
  height: 55px;
}
.conts .cons_r .widget .w_ul li dl {
  float: right;
  width: 180px;
}
.conts .cons_r .widget .w_ul li dl dt {
  font-size: 14px;
}
.conts .cons_r .widget .w_ul li dl dd span {
  margin-right: 30px;
  font-size: 13px;
  color: #999;
}
